In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"C:\Users\Swapna Shirole\Downloads\Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
print("Missing values in each column:")
print(df.isnull().sum())
df.fillna(df.select_dtypes(include='number').mean(), inplace=True)

Missing values in each column:
Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [5]:
duplicate_count = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_count}")
df = df.drop_duplicates()
print("Duplicates removed.")

Number of duplicate rows: 0
Duplicates removed.

In [6]:
from scipy.stats import zscore
z_scores = np.abs(zscore(df.iloc[:, :-1]))  # Exclude the species column if it is numeric
outliers = (z_scores > 3).any(axis=1)  # Identify rows with any Z-score > 3
print(f"Number of outliers detected: {outliers.sum()}")
df_cleaned = df[outliers]

Number of outliers detected: 1

In [7]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_cleaned.loc[:, df_cleaned.columns != 'Species'] = scaler.fit_transform(df_cleaned.loc[:, df_cleaned.columns != 'Species'])
df_cleaned.head()

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
15   0            0.0           0.0            0.0           0.0  Iris-setosa

In [8]:
print("Dataset before handling outliers and scaling:")
print(df.head())

print("\nDataset after handling outliers and scaling:")
print(df_cleaned.head())

Dataset before handling outliers and scaling:
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

Dataset after handling outliers and scaling:
    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
15   0            0.0           0.0            0.0           0.0  Iris-setosa