In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Swapna Shirole\Downloads\Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [2]:
df_encoded = pd.get_dummies(df, columns=['Species'], drop_first=True)
df_encoded.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species_Iris-versicolor,Species_Iris-virginica
0,1,5.1,3.5,1.4,0.2,False,False
1,2,4.9,3.0,1.4,0.2,False,False
2,3,4.7,3.2,1.3,0.2,False,False
3,4,4.6,3.1,1.5,0.2,False,False
4,5,5.0,3.6,1.4,0.2,False,False

In [3]:
df_encoded['petal_area'] = df['PetalLengthCm'] * df['PetalWidthCm']
df_encoded['sepal_area'] = df['SepalLengthCm'] * df['SepalWidthCm']
df_encoded.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species_Iris-versicolor,Species_Iris-virginica,petal_area,sepal_area
0,1,5.1,3.5,1.4,0.2,False,False,0.28,17.85
1,2,4.9,3.0,1.4,0.2,False,False,0.28,14.70
2,3,4.7,3.2,1.3,0.2,False,False,0.26,15.04
3,4,4.6,3.1,1.5,0.2,False,False,0.30,14.26
4,5,5.0,3.6,1.4,0.2,False,False,0.28,18.00

In [4]:
df_aggregated = df.groupby('Species').agg({
    'SepalLengthCm': 'mean',
    'SepalWidthCm': 'mean',
    'PetalLengthCm': 'mean',
    'PetalWidthCm': 'mean'
}).reset_index()
df_aggregated

           Species  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      Iris-setosa          5.006         3.418          1.464         0.244
1  Iris-versicolor          5.936         2.770          4.260         1.326
2   Iris-virginica          6.588         2.974          5.552         2.026

In [5]:
print("Dataset before transformations:")
print(df.head())

print("\nDataset after encoding and feature engineering:")
print(df_encoded.head())

Dataset before transformations:
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

Dataset after encoding and feature engineering:
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0   1            5.1           3.5            1.4           0.2
1   2            4.9           3.0            1.4           0.2
2   3            4.7           3.2            1.3           0.2
3   4            4.6           3.1            1.5           0.2
4   5            5.0           3.6            1.4           0.2

   Species_Iris-versicolor  Species_Iris-virginica  petal_area  sepal_area
0                    False                   False        0.28       17.85
1                    False                   False        0.28       14.70
2                    False                   False        0.26       15.04
3                    False                   False        0.30       14.26
4                    False                   False        0.28       18.00